name: Scheduled Repo Sync
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Sync Upstream
        id: sync_step
        run: |
          git remote add upstream https://github.com/ReSukiSU/ReSukiSU.git
          git fetch upstream
          
          LOCAL_SHA=$(git rev-parse HEAD)
          UPSTREAM_SHA=$(git rev-parse upstream/main)
          
          if [ "$LOCAL_SHA" == "$UPSTREAM_SHA" ]; then
            echo "has_updates=false" >> $GITHUB_ENV
            echo "No updates found. Skipping build."
          else
            git checkout main
            git merge upstream/main --no-edit --allow-unrelated-histories
            git push origin main
            echo "has_updates=true" >> $GITHUB_ENV
          fi
          
      - name: Trigger Build Workflow
        if: env.has_updates == 'true'
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "Triggering Build Manager..."
          gh workflow run build-manager.yml
